
%header
	=link_to root_path, class: 'a_block' do
		%h1 90s Studio
%article#about_us.content_container
	.content_title
		WHO ARE WE?
	90s studio 是由1990～1999年的年輕人以原創專題方式透過文字、照片和影片說故事並傳達正面意念鼓勵他人，以及紀錄下享樂平凡生活中帶點不平凡的經驗，不論是製造高亢的聲音，去享受世界對人事物的觀點與論點所創造的議題，在這喧世取寵的時代，90s這樣新時代多元聲音平台，透過不同觀點帶給大眾新的視野並產生共鳴。
	%br/
	%br/
	90s沒有長篇大論、沒有高深學問，無私自然又真實的分享，從新方向出發，在地球不同角落留下足跡，透過90s和世界結交朋友並且與世界趨勢互相照映，創造反思及省思的平台。

=link_to new_user_session_path, class: 'a_block' do
	= image_tag 'member.png', class: "full", id: 'member_img'
.btn-container
	.round_button= link_to "Home", root_path, class: "a_block"
	.round_button= link_to "Top", "#", class: "a_block"