

= image_tag 'four_color.png', class: "full bg"
%h1 90s Studio
%article#about_us
	Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit .

= image_tag 'member.png', class: "full", id: 'member_img'
.btn-container
	.round_button= link_to "Home", root_path, class: "a_block"
	.round_button= link_to "Top", "#", class: "a_block"