.row.round_container
	%div.round
	%div.round
	%div.round
	%div.round


%h1 90s Studio
%ul
	%li= link_to 'About us', "about",class: "a_block"
	%li= link_to 'Video', 'videos', class: "a_block"
	%li= link_to 'Article', 'articles', class: "a_block"