body {
	background-color: #3c3d3c;
	color: #fff;
	margin: 0;
}
article {
	font-size: 20px;
	&#about_us {
		border:5px solid;
		padding: 10px;
		margin: 10px;
	}
}

img.full {	width: 100%;	}
img.bg {
	opacity: 0.2;
	position: absolute;
	z-index: -1;
}
img#member_img {
	margin:0 5%;
	width:90%;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	font-size: 50px;
	margin: 0;
}


